<div class="row p-1">
  <div class="col">
    <h1 class="py-3">Accelerometer</h1>
    <div id="info"></div>
    <div id="count">Count: 0</div>
    <div id="gyro-supported">Gyro is not supported</div>
  </div>
</div>
<script
  src="https://cdn.socket.io/4.3.2/socket.io.min.js"
  integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
  crossorigin="anonymous"
></script>
<script src="/javascripts/accelerometer.js"></script>
