<div class="row p-1">
  <div class="col">
    <h1 class="py-3">Accelerometer</h1>
    <div id="gyro-supported">Gyro is not supported</div>
  </div>
</div>
<script src="/javascripts/accelerometer.js"></script>