<div class="row" style="height:10vh">
  <div class="col-6">
    <center>
      <div id="left-motor-value">0</div>
    </center>
  </div>
  <div class="col-6">
    <center>
      <div id="right-motor-value">0</div>
    </center>
  </div>
</div>
<div class="row align-items-center" style="height: 80vh;">
  <div class="col-6">
    <center>
      <input
        type="range"
        class="form-range"
        id="left-motor"
        style="transform: rotate(-90deg);"
        value="0"
      />
    </center>
  </div>
  <div class="col-6">
    <center>
      <input
        type="range"
        class="form-range"
        id="right-motor"
        style="transform: rotate(-90deg);"
        value="0"
      />

    </center>
  </div>
</div>
<script src="/javascripts/simplified.js"></script>